div {
  display: block;
  /* justify-content: center; */
  /* text-align: center; */
  font-size: 1.4rem;
}

input {
  display: block;
  margin: 20px 0px 40px 0px;
}

button {
  border: none;
  background-color: #000;
  color: #fff;
  margin-bottom: 50px;
}

form {
  display: inline-block;
  justify-content: center;
  text-align: center;
}

p {
  font-size: 10px;
}
